<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>ObjeeTrade</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/master.css' ) }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico' ) }}" type="image/x-icon">
        <script src="{{ url_for('static', filename='js/jquery.js' ) }}"></script>
        <script src="{{ url_for('static', filename='js/notify.js' ) }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui.min.js' ) }}"></script>
        <script src="{{ url_for('static', filename='js/control.js' ) }}"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet"> 
    </head>
    <body>

    {% if session.logged_in %}
        <div id="navigation">
            <a href="{{url_for('profile', uuid=session.uuid) }}">{{ session.name }}</a>
            <!-- {{ session.name }} -->
            <ul>
                <li> <a href="{{url_for('log_out')}}">LOG OUT</a> </li>
                <li> <a href="{{url_for('search')}}">SEARCH</a> </li>
                <li> <a href="{{url_for('sell')}}">SELL</a> </li>
                <li> <a href="{{url_for('products')}}">SALES</a> </li>
            </ul>
        </div>
    {% endif %}

    {% for message in get_flashed_messages() %}
    <p class='flashed_messages'>{{message}}</p>
    {% endfor %}


    {% block content %}

    {% endblock %}

    <div style="position:fixed;bottom:10px;width:100%;text-align:center;color:rgba(0,0,0,.3);z-index: -5">
        <small> 
            This web application was developed entirely by John Hammond.
            The original proposal was brought forth by 
            <a style="color:gray; text-decoration: underline;" href="{{ url_for('static', filename='objeetrade_memo.pdf' ) }}">Will Colomb</a>.

        </small>
    <div>

    </body>
</html>