<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title> Login -- USCGA BearShop</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/master.css' ) }}">
        <script src="{{ url_for('static', filename='js/jquery.js' ) }}"></script>
        <script src="{{ url_for('static', filename='js/notify.js' ) }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui.min.js' ) }}"></script>
    </head>
    <body>

    {% block content %}

    {% endblock %}

    </body>
</html>