{% extends "base_page.html" %}
{% block content %}


    <div id="login_box_background"></div>
    <div id="login_box">

        <h1>Welcome the USCGA BearShop!</h1>
        <p>
            Please login below with your EDU e-mail and your BearShop password.
        </p>

        <form method="POST">
            <input type="text" name="email" placeholder="E-mail" value="{{email}}">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="LOGIN" id="red_button">
        </form>

        <a href="{{ url_for('register')}}"><span id="blue_button_link">  REGISTER </span></a>
            
    </div>

    
{% endblock %}
    