{% extends "base_page.html" %}
{% block content %}

    <div id="login_box_background"></div>
    <div id="login_box">

        <h1>Welcome the USCGA BearShop!</h1>
        <p>
            Please login below with your EDU e-mail and your BearShop password.
        </p>

        <form>
            <input type="text" name="email">
            <input type="password" name="password">
            <input type="submit" value="LOGIN" id="login">
        </form>


        <span id="register"> REGISTER </span>
    </div>

    
{% endblock %}
    