{% extends "base_page.html" %}
{% block content %}


    <!-- <div id="login_box_background"></div> -->
    <div id="vertical">
        
        <div style="text-align:center">
        {% if products|length == 0 %}
            <h2 style="color:silver; text-align:center">
                There is currently nothing for sale. :(
            </h2>
        {% else %}
            {% for product in products %}
                <a href="{{ url_for('product', uuid=product[3] )}}"><div class="product">
                    <img width=325px height=325px src="{{product[1]}}" alt="No image is available">
                    <h2> {{ product[0] }} <span> {{ product[2] }} </span> </h2>
                </div></a>
            {% endfor %}

        {% endif %}

            </div>
        
    </div>
{% endblock %}
    