{% extends "base_page.html" %}
{% block content %}


    <!-- <div id="login_box_background"></div> -->


    <div id="vertical">
        
        <div class="page_navigation">
            
            <b>Page: </b>

                <a href="{{url_for('products' )}}">
                    <span class="page_button">First</span>
                </a>

                {% for page in available_pages %}
                    {% if page == page_number %}
                    
                    <a href="{{url_for('products', page_number=page )}}">
                        <span class="page_button" style="border-color:black;color:black;text-decoration: underline;">{{ page }}</span>
                    </a>
                    
                    {% else %}
                    <a href="{{url_for('products', page_number=page )}}">
                        <span class="page_button"> {{ page }}</span>
                    </a>
                    
                    {% endif %}

                {% endfor %}

                <a href="{{url_for('products', page_number = last_page )}}">
                    <span class="page_button">Last</span>
                </a>
            
            <br><br>

        </div>

        <div style="text-align:center">
        {% if products|length == 0 %}
            <h2 style="color:gray; text-align:center">
                There is currently nothing for sale :(
            </h2>
        {% else %}
            {% for product in products %}
                <a href="{{ url_for('product', uuid=product[3] )}}"><div class="product">
                    <img width=325px height=325px src="{{product[1]}}" alt="No image is available">
                    <h2> {{ product[0] }} <span> {{ product[2] }} </span> </h2>
                </div></a>
            {% endfor %}

        {% endif %}

            </div>
        
        <div class="page_navigation">
            
            <br><br>

            <b>Page: </b>

                <a href="{{url_for('products' )}}">
                    <span class="page_button">First</span>
                </a>

                {% for page in available_pages %}
                    {% if page == page_number %}
                    
                    <a href="{{url_for('products', page_number=page )}}">
                        <span class="page_button" style="border-color:black;color:black;text-decoration: underline;">{{ page }}</span>
                    </a>
                    
                    {% else %}
                    <a href="{{url_for('products', page_number=page )}}">
                        <span class="page_button"> {{ page }}</span>
                    </a>

                    {% endif %}
                    
                {% endfor %}

                <a href="{{url_for('products', page_number = last_page )}}">
                    <span class="page_button">Last</span>
                </a>
        </div>

    </div>
{% endblock %}
    