<html>
	<head></head>
	<body>
	 	
	 	<h2>Thank you for registering with <a href="http://uscgabearshop">
	 	BearShop!</a></h2>

	 	<p>
	 		To complete your registraton, you must submit this verification code:
	 	</p>

	 	<code>{{identifier}}</code>

	 	<p>
	 		You can do this more quickly by simply clicking this link:
	 	</p>
	 	<p>
	 		<a href="http://uscgabearshop.com/verify?identifier={{identifier}}"> http://uscgabearshop.com/verify?identifier={{identifier}}</a>
	 	</p>

	 	<p>
	 	Thanks for registering, and I hope you enjoy <a href="http://uscgabearshop">
	 	BearShop!</a>
	 	</p>


	 	<p>
	 	 - John Hammond
	 	</p>

	 	
	</body>
</html>