<html>
	<head></head>
	<body>
	 	
	 	<h1>Thank you for registering with <a href="https://www.objeetrade.com">
	 	ObjeeTrade!</a></h1>

	 	<p>
	 		<b> Hi {{name}}! </b>
	 	</p>

	 	<p>
	 		To complete your registraton, you must submit this verification code:
	 	</p>

	 	<code>{{identifier}}</code>

	 	<p>
	 		You can do this more quickly by simply clicking this link:
	 	</p>
	 	<p>
	 		<a href="https://www.objeetrade.com/verify?identifier={{identifier}}"> https://www.objeetrade.com/verify?identifier={{identifier}}</a>
	 	</p>

	 	<p>
	 	Thanks for registering, and I hope you enjoy <a href="https://www.objeetrade.com">
	 	ObjeeTrade!</a>
	 	</p>


	 	<p>
	 	 - John Hammond
	 	</p>

	 	
	</body>
</html>